html *{
   font-family: Arial;
   text-align: center;
}

.first{
  background-image: url("images/home-screen.jpeg");
}

.second{
  background-image: url("images/coding.jpeg");
  background-size: 100%;
}

.third{
  background-image: url("images/electronics-board.jpeg");
  background-size: 100%;
}

h1{
   font-size: 36px;
}

h2{
   font-size: 20px;
   font-weight: normal;
}

span.a{
   color: #fbb829;
}

span.b{
   display: inline;
   padding: 15px;
   background-color: #fbb829;
}

img{
   opacity: 0.75;
}

body{
   color: white;
}

footer{
   color: #666;
}
