html *{
    font-family: sans-serif;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background:url("images/home-screen.jpeg")no-repeat;
    background-position: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    text-align: center;
}

.box{
    width: max-content;
    margin: auto;
    border: 2px;
    border-style: solid;
    padding: 15px;
    font-size: 16px;
}

.name{
    font-size: 42px;
}

span.a{
    color: #fbb829;
}

span.b{
    display: inline;
    padding: 15px;
    background-color: #fbb829;
}

span.b:hover{
    color: black;
}

img{
    opacity: 0.75;
}

img:hover{
    box-shadow: 0 0 0 0px #000, 0 0 0 2px white;
    border-radius: 50px;
}

body{
    margin: 0px;
    color: white;
}

.nav {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

.nav a.active{
    border-bottom-style: solid;
    border-bottom-color: #fbb829;
    border-bottom-width: 2px;
}